{% if messages %}
    <ul class="message overflow-x-hidden overflow-y-hidden z-20 fixed top-0 mt-10 w-64 h-64 mx-auto left-0 right-0 flex justify-center">
        {% for message in messages %}
            <li class="message font-medium bg-white rounded-md text-black w-64 h-64 py-4 px-6 z-20 text-center {% if message.tags %}{{ message.tags }}{% endif %}">
                <div class="flex justify-center items-center w-32 bg-transparent rounded-full h-32 mx-auto mb-4">
                    {% if message.tags == "success" %}
                        <i class="fa fa-check-circle fa-8x text-green-500"></i>
                    {% elif message.tags == "error" %}
                        <i class="fa fa-exclamation-triangle fa-6x text-red-500"></i>
                    {% elif message.tags == "info" %}
                        <i class="fas fa-info-circle fa-6x text-blue-500"></i>
                    {% endif %}
                </div>
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}